#favoritSite {
	list-style: none;
  opacity: 0.5;
	height: 1.5em;
  overflow: hidden; /* 높이를 1.5em 만큼 지정하여 1.5em 이 넘으면 숨기도록 지정함. */
}
#favoritSite:hover {
  height: auto;
  opacity: 1;
  cursor:
  pointer;
}
